/********** Layout **********/
body {
  margin: auto;
  width: 80%;
  max-width: 600px;
}

header {
  display: flex;
  flex-flow: row wrap;
  border-bottom: 1px solid #ddd;
  margin-top: 20px;
}

header h1 {
  flex: 1 0;
  white-space: nowrap;
}

header a {
  color: #333333;
}

nav {
  flex: 0 0 200px;
  height: 45px;
  white-space: nowrap;
  display: flex;
  align-content: end;
  align-items: end;
  justify-content: space-between;
}

nav a {
  flex: 1;
  display: block;
  margin:  17px 0 0 0;
  padding: 0;
  text-transform: uppercase;
  font-weight: 500;
  text-align: center;
}

nav a.active {
  color: #A6A6AF;
}

main {
  margin-top: 30px;
  margin-bottom: 30px;
}

footer {
  border-top: 1px solid #ddd;
  padding-top: 20px;
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: 300;
  font-size: 80%;
}

/********** Basic styling **********/

html, button, input, select, textarea {
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
}

body {
  font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.6;
  color: #333333;
  text-rendering: optimizeLegibility;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0px;
  margin-bottom: 20px;
  font-weight: 300; }

h1 { font-size: 36px; line-height: 1.25; letter-spacing: -1px; }
h2 { font-size: 24px; line-height: 1.35; letter-spacing: -.8px; }
h3 { font-size: 20px; line-height: 1.5;  letter-spacing: -.5px; }
h4 { font-size: 15px; line-height: 1.6;  letter-spacing: 0px; }
h5 { font-size: 15px; line-height: 1.6;  letter-spacing: 0px; }

h4, h5 {
  font-weight: bold;
  display: inline;
  float: left;
  margin-right: .5em;
  padding: 0;
  margin-bottom: 0;
}

h5 {
  font-style: italic;
  font-weight: normal;
}

h4:after, h5:after  {
  content: ".";
}

h4 + p, h5 + p  {

}

p {
  margin: 15px 0px 15px 0px;
  max-width: 600px;
}

a {
  text-decoration: none;
  color: #1EAEDB;
}

a:hover {
  color: #0FA0CE;
}

ul { list-style: circle inside; }
ol { list-style: decimal inside; }
ol, ul {
  padding-left: 0;
  margin-top: 0; }
ol ol, ol ul, ul ul, ul ol {
    padding-left: 1em; }
li { margin-bottom: 0; }

code {
  font-size: 90%;
  white-space: nowrap;
  background: rgba(247, 245, 238, 0.7);
  border-radius: 5px;
  max-width: 600px;}

pre > code {
  display: block;
  white-space: pre; }

th,
td {
  padding: 12px 15px;
  text-align: left;
  border-top: 1px solid #E1E1E1;
  border-bottom: 1px solid #E1E1E1; }
th:first-child,
td:first-child {
  padding-left: 0; }
th:last-child,
td:last-child {
  padding-right: 0; }

figure {
  border-top: 1px solid #E1E1E1;
  border-bottom: 1px solid #E1E1E1;
  padding: 0;
  margin: 30px 0 30px 0;
  max-width: 600px;
}

figcaption {
  margin-top: 15px;
  font-size: 80%;
}

dt {
  margin-top: 15px;
}

/********** Additional styling **********/

article.post {
  width: 100%;
}

.post h3 {
  border-top: 1px solid #AAAAAA;
  padding-top: 15px;
  margin-top: 30px;
  max-width: 600px;
}

div.footnotes {
  max-width: 600px;
  border-top: 1px dashed #AAAAAA;
  margin-top: 40px;
  font-size: 80%;
}

figure.highlight,
figure.highlight *
{ border: none; }

figure.highlight { padding: 0; margin: 0; }
figure.highlight pre { padding: 0; margin: 0; }

.center {
  text-align: center;
}

ul.bibliography {
  list-style-type: none;
  list-style-position: inside;
  text-indent: -17px;
  padding-left: 17px;
  padding-right: 0;
  margin-right: 0;
}

ul.bibliography li {
  margin-bottom: 15px;
  margin-right: 0;
  padding-right: 0;
}

ul.bibliography li.highlight {
  background-color: #DDDD;
}

ul.contents {
  max-width: 600px;
  padding-left: 1em;
  list-style: square inside;
}

table.plain th,
table.plain td {
  border: none;
  padding-top: 0px;
  padding-bottom: 0px;
}

.plainlist {
  list-style: none;
}

.date {
  font-weight: 300;
  text-align: left;
}

.excerpt {
  margin: 0 0 0 0px;
  font-style: italic;
}

.blurb {
  margin-bottom: 0.8em;
  display: flex;
  flex-flow: row wrap;
}

.blurb > .date {
  vertical-align: top;
  flex: 1 100%;
}

.blurb > .description {
  vertical-align: top;
  flex: 1 100%;
}

.blurb > .description > .title {
    vertical-align: top;
}

.blurb p {
  display: inline;
}

@media screen and (min-width: 800px) {
  .blurb > .date {
    text-align: right;
    flex: 0 0 65px;
  }

  .blurb > .description {
    margin-left: 1em;
    flex: 1 1;
  }

  .blurb { margin-bottom: 4px; }
}



